#node
node_modules
# exclude everything in fixtures
/fixtures/code/*
/fixtures/listing/*
/fixtures/manifest/*
/fixtures/ui/*
/fixtures/db
# But not the examples directory and tar files
!/fixtures/**/*.tar.bz2
!/fixtures/examples/*
# Intellij IDEA
.idea/
*.iml
# out files
indexes/
# Redis dump file
dump.rdb
# Coverage
coverage
# npm
npm-debug.log*
.npm
.node_repl_history
