<div class="example">
    <div class="query">
        <!--
        MATCH app
        WHERE
            <uses-permission android:name="android.permission.CAMERA"/>
            <downloads-count-text>500,000,000 - 1,000,000,000</downloads-count-text>
            <code class="android.hardware.Camera" method ="takePicture" />
            <code class="android.hardware.Camera" method ="startPreview" />
        RETURN app
        -->
    </div>
</div>

<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
    <android.support.v4.widget.DrawerLayout>
        <_/>
        <_/>
    </android.support.v4.widget.DrawerLayout>
RETURN app
        -->
    </div>
</div>

<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
<view class="com.whatsapp.*"/>
RETURN app
-->
    </div>
</div>

<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
    <uses-permission android:name= "android.permission.ACCESS_COARSE_LOCATION" />
    <code class="com.google.android.gms.location.LocationListener" method ="onLocationChanged"/>
    <LinearLayout>
        <Button></Button>
    </LinearLayout>
RETURN app
-->
    </div>
</div>

