<div class="example">
    <div class="query">

<!--
MATCH app
WHERE
<LinearLayout>
   <ImageButton></ImageButton>
   <ImageButton></ImageButton>
   <ImageButton></ImageButton>
   <ImageButton></ImageButton>
   <ImageButton></ImageButton>
</LinearLayout>
RETURN app
-->
    </div>
</div>

<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
    <package-name>com.android.chrome</package-name>
    <LinearLayout>
        <ImageButton></ImageButton>
        <ImageButton></ImageButton>
        <ImageButton></ImageButton>
    </LinearLayout>
RETURN app
-->
    </div>
</div>


<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
        <uses-permission name="android.permission.RECORD_AUDIO"/>
        <Button>
                <callpath from_method="onClick"/>
        </Button>
RETURN app, Button
-->
    </div>
</div>

<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
    <callpath from_method="onRestart" uses-permission="android.permission.CAMERA/>
RETURN app
-->
    </div>
</div>


<div class="example">
    <div class="query">
<!--
MATCH app
WHERE
    <package-name>com.example.instantreplay</package-name>
    <call creates="CameraActivity"/>
RETURN app
-->
    </div>
</div>